<%content_for :head do-%>
<%=stylesheet_link_tag("results")%>
<%end-%>
<h1>Fieldwork:  Reports, Planning and Logistics</h1>

<hr>

<table class="fieldwork"> 
  <tr class="cruise">
    <td class="name">US1</td>
    <td class="ship">R/V Revelle</td>
    <td class="time">8 Jan (1600) to 24 Feb (0800) 2009</td>
    <td class="other"><span class="location">Punta Arenas, Chile to Punta
      Arenas, Chile.</span> For cruise updates see
      <a href="#results">results</a>. DIMES Pacific sound source deployment,
      float release, tracer release.</td>
  </tr>
  <tr class="cruise">
    <td class="name">UK1</td>
    <td class="ship">James Cook</td>
    <td class="time">5 - 21 December 2009.</td>
    <td class="other">DIMES Drake Passage mooring and sound source deployment.</td>
  </tr>
  <tr class="cruise">
    <td class="name">US2</td>
    <td class="ship">R/V Thompson</td>
    <td class="time">15 Jan to 5 March 2010</td>
    <td class="other">
      <span class="location">Punta Arenas, Chile to Punta Arenas, Chile</span>.
      Pacific tracer survey, microstructure, float release. (Ship loaded in
      Seattle in early December, prior to 14 December departure.)
      <a href="cruise3/Cruise_Plan.pdf">Cruise plan.</a></td>
  </tr>
  <tr class="cruise">
    <td class="name">UK2</td>
    <td class="ship">James Clark Ross</td>
    <td class="time">December 2010 or January 2011.</td>
    <td class="other">Scotia Sea survey (boundaries).</td>
  </tr>
  <tr class="cruise">
    <td class="name">UK2.5</td>
    <td class="ship">James Clark Ross</td>
    <td class="time">April 2011</td>
    <td class="other">
      <%= link_to('Cruise page', 'http://seahunt.ucsd.edu/cruises/74') %>.
      <%= link_to('Blog post', 'http://blog.decc.gov.uk?p=596') %> with a
      nice YouTube video from the deck of the ship.
    </td>
  </tr>
  <tr class="cruise">
    <td class="name">UK3</td>
    <td class="ship">James Cook</td>
    <td class="time">December 2011 or January 2012.</td>
    <td class="other">
      <p>Scotia Sea survey (full tracer)</p>
      <p><a href="http://dimesuk3.blogspot.com/">Blog of UK3 cruise by Katy Sheen and Alex Brearley.</a></p></td>
  </tr>
  <tr class="cruise">
    <td class="name">UK4</td>
    <td class="ship">James Clark Ross</td>
    <td class="time">March 2013 to April 2013.</td>
    <td class="other"><a href="//dimesuk4.blogspot.co.uk/">Blog by Jan Zika</a></td>
  </tr>
  <tr class="cruise">
    <td class="name">UK 2014</td>
    <td class="ship">RRS James Cook</td>
    <td class="time"></td>
    <td class="other"><a href="//www.adropinthesouthernocean.blogspot.co.uk/">Blog by Katy Sheen and Siobhan Moran</a></td>
  </tr>
</table> 

<p>Further cruise schedule and related information to be posted here.</p>

<h1 id="results">Results</h1><hr> 
<div class='results_height'>
<div class='results_menu'>

<p></p>

<h3>UK 2014 Cruise</h3>

<p><%=link_to_remote "A Drop in the Sea film, DIMES 2014", :update=>'results_content', :url=>result_body_path('uk_2014')%></p> 

<h3>US 3 Cruise</h3>

<p><%=link_to_remote "Photo", :update=>'results_content', :url=>result_body_path('us_3_photo')%></p> 

<h3>UK2.5 Cruise</h3>

<p>The UK2.5 cruise left port 10 April 2011 aboard the James Clark Ross.
More information about the cruise can be found
<%= link_to('here', 'http://seahunt.ucsd.edu/cruises/74') %> while the
<%= link_to('underway blog', 'http://dimes-uk.blogspot.com') %> provides more in
case you're also interested in the real-time progress.
<%= link_to('Here', 'http://blog.decc.gov.uk?p=596') %> is a blog post with a
nice YouTube video from the deck of the ship.</p>
<p><%= link_to('UK2.5 Cruise report', 'documents/JC054 DIMES UK2 CRUISE REPORT.pdf') %></p>

<h3>Second US Cruise</h3>

The second US cruise left port 15 January 2010 aboard the Thompson.
Follow the <a href="cruise3/US2-Path.kmz">cruise track</a> via <a href="http://earth.google.com/">Google Earth</a> or take a look at the <a href="cruise3/DIMES_US2_3_01_2010.jpg">map</a>.
<p>
Sadly, Captain Philip Smith passed away on Tuesday, January 18.  The ship
returned to Punta Arenas, arriving Friday January 22nd, and started out again
January 25th.  See the 
<%=link_to_remote "Seattle Times obituary", :update => 'results_content', :url => result_body_path('philip_smith_obituary') %>.
(updated 28 January 2010).
</p>

<ul> 
<li><%=link_to_remote "Progress report (25 January 2010)", :update=>'results_content', :url=>result_body_path('report_20100125')%></li> 
<li><%=link_to_remote "Who is on the ship? (26 January 2010)", :update=>'results_content', :url=>result_body_path('report_20100126')%></li> 
<li><%=link_to_remote "Progress report (4 February 2010)", :update=>'results_content', :url=>result_body_path('report_20100204')%><br />
	or <a href="cruise3/Update_04Feb10_all.pdf"><%=image_tag 'pdf.jpg', :height=>'13'%> pdf version</a></li>
<li><%=link_to_remote "Progress report (18 February 2010)", :update=>'results_content', :url=>result_body_path('report_20100218')%></li> 
<li><%=link_to_remote "Final report (3 March 2010)", :update=>'results_content', :url=>result_body_path('report_20100303')%><br>
	or <a href="cruise3/update_03mar10_u.pdf"><%=image_tag 'pdf.jpg', :height=>'13'%> pdf version</a> </li> 
</ul> 
<h3>First UK Cruise</h3> 
The first UK cruise left port 5 December 2009.  Here are their updates.
<ul> 
<li><a href="cruise2/jc41_outline.pdf"><%=image_tag 'pdf.jpg', :height=>'13'%> Cruise plan</a></li> 
<li><%=link_to_remote "Progress report (6 December 2009)", :update=>'results_content', :url=>result_body_path('report_20091206')%><br>
	or <a href="cruise2/JC41_progress_6Dec09.pdf"><%=image_tag 'pdf.jpg', :height=>'13'%> pdf version</a></li>
<li><%=link_to_remote "Progress report (11 December 2009)", :update=>'results_content', :url=>result_body_path('report_20091211')%><br>
	or <a href="cruise2/JC41_progress_11Dec09.pdf"><%=image_tag 'pdf.jpg', :height=>'13'%> pdf version</a></li> 
<li><%=link_to_remote "Progress report (20 December 2009)", :update=>'results_content', :url=>result_body_path('report_20091220')%><br>
	or <a href="cruise2/JC41_progress_20Dec09.pdf"><%=image_tag 'pdf.jpg', :height=>'13'%> pdf version</a></li> 
</ul> 
<h3>First US Cruise</h3>
The first US cruise left port on January 10 and returned February 24, 2009.  
Here are the regular updates that were sent from the ship.<br> 
<ul> 
<li><%=link_to_remote "Introduction", :update=>'results_content', :url=>result_body_path('us_introduction')%></li> 
<li><%=link_to_remote "Who is on the ship?", :update=>'results_content', :url=>result_body_path('us_participants')%></li> 
<li><%=link_to_remote "Progress Report (15 January 2009)", :update=>'results_content', :url=>result_body_path('report_20090115')%></li> 
<li><%=link_to_remote "Progress Report (17 January 2009)", :update=>'results_content', :url=>result_body_path('report_20090117')%></li> 
<li><%=link_to_remote "Progress Report (20 January 2009)", :update=>'results_content', :url=>result_body_path('report_20090120')%></li> 
<li><%=link_to_remote "Progress Report (22 January 2009)", :update=>'results_content', :url=>result_body_path('report_20090122')%></li> 
<li><%=link_to_remote "Progress Report (29 January 2009)", :update=>'results_content', :url=>result_body_path('report_20090129')%></li> 
<li><%=link_to_remote "Progress Report (1 February 2009)", :update=>'results_content', :url=>result_body_path('report_20090201')%></li> 
<li><%=link_to_remote "Progress Report (4 February 2009)", :update=>'results_content', :url=>result_body_path('report_20090204')%></li> 
<li><%=link_to_remote "Progress Report (6 February 2009)", :update=>'results_content', :url=>result_body_path('report_20090206')%></li> 
<li><%=link_to_remote "Chief Scientist Jim Ledwell's daily journal (updated as of 19 February 2009)", :update=>'results_content', :url=>result_body_path('report_20090219')%></li> 
<li><a href="documents/summary_20090222.ppt">End of cruise preliminary summary (23 February 2009)</a> (Read the notes for details; a more complete summary should
follow.)</a></li> 
</div>
<div id='results_content'>
<%= render :partial=>'none', :update=>'results_content'%>
</div>
</div>
