<h1>Publications from DIMES</h1><hr>
<font face="arial, helvetica, times"><h2>Published</h2></font> 
<ul> 
  <li>
    <a href="documents/2007EO390002.pdf">
      <%=image_tag 'pdf.jpg', :height=>'13'%>
      Gille, S. T., K. Speer, J. R. Ledwell, and A. C. Naveira Garabato, 2007.
    </a>
    Mixing and Stirring in the Southern Ocean, <i>EOS</i>, <b>88</b>(39), 25
    September 2007, pp. 382-383. ......  Here's the longer version that we
    originally submitted:
    <a href="documents/eos_submission.pdf">
      <%=image_tag 'pdf.jpg', :height=>'13'%>
      preprint
    </a>
  </li> 
  <li>
    <a href="http://www.atm.damtp.cam.ac.uk/people/aft26/publications/Thompson_PTRSA08_NoBio.pdf">
      <%=image_tag 'pdf.jpg', :height=>'13'%>
      Thompson, A. F., 2008.
    </a>
    The atmospheric ocean:  eddies and jets in the Antarctic Circumpolar
    Current, <i>Phil. Trans.  Royal Soc. A</i> <bf>366</bf>, 4529-4541.
  </li> 
  <li> 
    <a href="http://dx.doi.org/10.1016/j.ocemod.2009.05.004">
      Griesel, A., S. T. Gille, J. Sprintall, J. L. McClean, M. E. Maltrud, 2009.
    </a> 
    Assessing eddy heat flux and its parameterization: A wavenumber perspective
    from a 1/10<sup>o</sup> ocean simulation. <i>Ocean Modelling</i>,
    <bf>29</bf>, 248-260.
  </li> 
  <li>
    <a href="documents/prog_acc2010.pdf">
      <%=image_tag 'pdf.jpg', :height=>'13'%>
      LaCasce, J. H. and P. E. Isachsen, 2010.
    </a>
    The linear models of the ACC, <i>Prog. Oceanogr.</i>.
  </li>
  <li>
    <a href="http://www.agu.org/pubs/crossref/2010/2009JC005821.shtml">
      Griesel, A., S. T. Gille, J. Sprintall, J. L. McClean, J. H. LaCasce, and
      M. E.  Maltrud
    </a>
    , 2009.
    Isopycnal diffusivities in the Antarctic Circumpolar Current inferred from
    Lagrangian floats in an eddying model, <i>J. Geophys.  Res.</i>,
    <b>115</b>, C06006, doi:10.1029/2009JC005821.
  </li>
  <li>
    <a href="documents/ACC_mixing_Lu_Speer_rev_2.pdf">
      <%=image_tag 'pdf.jpg', :height=>'13'%> Jianhua Lu and Kevin Speer, 2010.
    </a>
    Topography, jets, and eddy mixing in the Southern Ocean, in press, Journal of Marine Research.
  </li>
  <li>
    <a href="documents/2010GL045386.pdf">
      <%=image_tag 'pdf.jpg', :height=>'13'%>
      A. F. Thompson, P. H. Haynes, C. Wilson, and K. J. Richards
    </a>
    (2010), Rapid Southern Ocean front transitions in an eddy-resolving ocean GCM, Geophys. Res. Lett., 37, L23602, doi:10.1029/2010GL045386.
    <a href="http://www.agu.org/journals/gl/gl1023/2010GL045386/">http://www.agu.org/journals/gl/gl1023/2010GL045386/</a>
  </li>
  <li>
    <a href="documents/scaling_2col.pdf">
      <%= image_tag 'pdf.jpg', :height => 13 %>
      Michael P. Meredith, Alberto C. Naveira Garabato, Andrew McC. Hogg, Riccardo Farneti
    </a>
    (2011), Sensitivity of the overturning circulation in the Southern Ocean to decadal
    changes in wind forcing, in press, J. Climate.
  </li>
  <li>
    Naveira-Garabato, A., R. Ferrari, and K. Polzin, 2011: Eddy Mixing in the Southern Ocean, J. Geophys. Res., in press.
  </li>
  <li>
    Ferrari, R. and M. Nikurashin, 2010: Suppression of eddy mixing across jets in the Southern Ocean, J. Phys. Oceanogr., Vol. 40, 1501-1519.
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/2010JPO4557.1">
      <%= image_tag 'pdf.jpg', :height => 13 %>
      Ledwell, J. R., L. C. St. Laurent, J. B. Girton, and J. M. Toole
    </a>, 2011.
    Diapycnal Mixing in the Antarctic Circumpolar Current, J. Phys. Oceanogr., 41, 241?246.  doi: 10.1175/2010JPO4557.1
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/2010JPO4429.1">
      Shuckburgh, E., Maze, G., Ferreira, D., Marshall, J., Jones, H. and Hill, C.
    </a>
    , 2011:
    Mixed layer lateral eddy fluxes mediated by air-sea interaction, J. Phys. Oceanogr., 41, 130-144.
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/JPO-D-11-023.1">
      R. Abernathey, J. Marshall, D. Ferreira
    </a>
    , 2011:
    Dependence of Southern Ocean Meridional Overturning on Wind Stress, J.
    Phys.  Oceanogr., 41, 2261-2278.
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/2009JPO4201.1">
      R. Abernathey, J. Marshall, M. Mazloff, and E. Shuckburgh
    </a>
    , 2010:
    Enhanced Isopycnal Mixing at Steering Levels in the Southern Ocean, J. Phys. Oceanogr., 40, 170-184.
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/JPO-D-12-027.1">
    L. St. Laurent, A. C. Naveira Garabato, J. R. Ledwell, A. M. Thurnherr, J.
    M. Toole, A. J. Watson</a>, 2012.  Turbulence and Diapycnal Mixing in Drake
    Passage, J. Phys. Oceanogr., 42, 2143-2152.
  </li>
  <li>
    <a href="http://onlinelibrary.wiley.com/doi/10.1002/grl.50260/abstract">
    Meredith, M. P., P. J. Brown, A. C. Naveira Garabato, L. Jullion, H. J. Venables, and M.-J. Messias, 2013.</a>
    Dense bottom layers in the Scotia Sea, Southern Ocean: creation, lifespan
    and destruction, in press, Geophys. Res. Lett.,  doi: 10.1002/grl.50260.
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/JPO-D-12-0222.1">
    J. Alexander Brearley, Katy L. Sheen, Alberto C. Naveira Garabato, David A. Smeed, and Stephanie Waterman</a>
    Eddy-Induced Modulation of Turbulent Dissipation over Rough Topography in the Southern Ocean
    Journal of Physical Oceanography, Vol. 43, No. 11, November 2013: 2288-2308.
  </li>
</ul> 
 
<h2 style="font-family: arial, helvetica, sans-serif">Submitted work. (Contact
authors for preprints, etc.)</h2>
<ul> 
  <li>
    <a href="documents/meredith_woodwarth_et_al.pdf">
      <%= image_tag 'pdf.jpg', :height => 13 %>
      Meredith, M. P., P. L. Woodworth, T. K. Chereskin, D. P. Marshall, L. C.
      Allison, G. R. Bigg, K. Donohue, K. J. Heywood, C. W. Hughes, A. Hibbert,
      A. McC. Hogg, H. L. Johnson, L. Jullion, B. A. King, H. Leach, Y.-D.
      Lenn, M. A. Morales Maqueda, D. R. Munday, A. C. Naveira Garabato, C.
      Provost, J.-B. Sallée and J. Sprinta
    </a>, 2011.
    Sustained monitoring of the Southern Ocean at Drake Passage:  past
    achievements and future priorities, submitted to Rev. Geophys.
  </li>
  <li>
    Meredith, M. P., P. J. Brown, A. C. Naveira Garabato, L. Jullion, H. J.
    Venables, and M.-J. Messias, 2012. Dense bottom layers in the Scotia Sea,
    Southern Ocean:  creation, lifespan and destruction, submitted, Geophys.
    Res. Lett.
  </li>
  <li>
    Frants, M., G. M. Damerell, S. T. Gille, K. J. Heywood, J. MacKinnon, and
    J. Sprintall, 2012. An assessment of density-based fine-scale methods for
    estimating diapycnal diffusivity in the Southern Ocean, submitted, J.
    Atmos. Ocean. Tech.. 
  </li>
</ul> 

<br>
<h1>Precursors to DIMES</h1></font> 
<h2 style="font-family: arial, helvetica, sans-serif">(Links to
a few studies involving DIMES investigators....)</h2>
 
<ul> 
<li>Naveira Garabato, A. C., D. P. Stevens, A. J. Watson and W. Roether, 2007. 
Short-circuiting of the overturning circulation in the Antarctic Circumpolar 
Current. <i>Nature</i> <b>447</b>, 194-197. <a href="http://www.nature.com/nature/journal/v447/n7141/abs/nature05832.html">link</a></li> 
<li>Thompson, A. F., S. T. Gille, J. A. MacKinnon, and J. Sprintall, 2007.
Spatial and Temporal Patterns of Small-Scale Mixing in Drake Passage,
<i>J. Phys. Oceanogr.</i>, <b>37</b>, 572-592. 
<a href="http://www-pord.ucsd.edu/~sgille/pub_dir/i1520-0485-37-3-572.pdf">(<%=image_tag 'pdf.jpg', :height=>'13'%> reprint, 1855 kbytes)</a></li> 
<li>Chinn, B. S. and S. T. Gille, 2006.  Estimating Eddy Heat Flux from Float
Data in the North Atlantic: The Impact of Temporal Sampling Interval, 
<i>J. Atmos. Ocean. Tech.</i>, <b>24</b>, 923-934.
<a href="http://www-pord.ucsd.edu/~sgille/pub_dir/chinn_gille.pdf">(<%=image_tag 'pdf.jpg', :height=>'13'%> reprint, 1.27 Mbytes)</a></li> 
</ul>
