<h1>Publications from DIMES</h1>
<hr>
<h2>Published</h2>
<p>Also available as a sortable list <a href="/bibliography">here</a>.</p>
<ul class="publications"> 
  <li>
    <a href="documents/2007EO390002.pdf">
      <%= pdf_icon %>
      Gille, S. T., K. Speer, J. R. Ledwell, and A. C. Naveira Garabato
    </a> (2007),
    Mixing and Stirring in the Southern Ocean, 
    <span class="journal">EOS</span>, <span class="volume">88</span>(39), 25 September 2007, pp.
    382-383.
    <p>Here's the longer version that we originally submitted:
      <a href="documents/eos_submission.pdf"><%= pdf_icon %> preprint</a>
    </p>
  </li> 
  <li>
    <a href="http://www.atm.damtp.cam.ac.uk/people/aft26/publications/Thompson_PTRSA08_NoBio.pdf">
      <%= pdf_icon %> Thompson, A. F.
    </a> (2008),
    The atmospheric ocean: eddies and jets in the Antarctic Circumpolar
    Current, 
    <span class="journal">Phil. Trans. Royal Soc. A</span>
    <span class="volume">366</span>, 4529-4541.
  </li> 
  <li> 
    <a href="http://doi.org/10.1016/j.ocemod.2009.05.004">
      Griesel, A., S. T. Gille, J. Sprintall, J. L. McClean, M. E. Maltrud
    </a> (2009),
    Assessing eddy heat flux and its parameterization: A wavenumber perspective
    from a 1/10<sup>o</sup> ocean simulation. 
    <span class="journal">Ocean Modelling</span>,
    <span class="volume">29</span>, 248-260.
  </li> 
  <li>
    <a href="documents/prog_acc2010.pdf">
      <%= pdf_icon %>
      LaCasce, J. H. and P. E. Isachsen</a> (2010),
    The linear models of the ACC, 
    <span class="journal">Prog. Oceanogr.</span>,
    <span class="volume">84</span>, 139-157.
  </li>
  <li>
    <a href="http://www.agu.org/pubs/crossref/2010/2009JC005821.shtml">
      Griesel, A., S. T. Gille, J. Sprintall, J. L. McClean, J. H. LaCasce, and
      M. E.  Maltrud</a> (2009),
    Isopycnal diffusivities in the Antarctic Circumpolar Current inferred from
    Lagrangian floats in an eddying model, 
    <span class="journal">J. Geophys.  Res.</span>,
    <span class="volume">115</span>, C06006, doi:10.1029/2009JC005821.
  </li>
  <li>
    <%#
    <a href="documents/ACC_mixing_Lu_Speer_rev_2.pdf">
      <%= pdf_icon %>
    <a href="http://www.ingentaconnect.com/content/jmr/jmr/2010/00000068/f0020003/art00008">
       Jianhua Lu and Kevin Speer</a> (2010),
    Topography, jets, and eddy mixing in the Southern Ocean, 
    <span class="journal">Journal of Marine Research</span>, 
    <span class="volume">68</span>, 479-502.
  </li>
  <li>
    <a href="documents/2010GL045386.pdf">
      <%= pdf_icon %>
      A. F. Thompson, P. H. Haynes, C. Wilson, and K. J. Richards</a> (2010),
    Rapid Southern Ocean front transitions in an eddy-resolving ocean GCM, 
    <span class="journal">Geophys. Res. Lett.</span>, 
    <span class="volume">37</span>, L23602, doi:10.1029/2010GL045386.
    <a href="http://www.agu.org/journals/gl/gl1023/2010GL045386/">http://www.agu.org/journals/gl/gl1023/2010GL045386/</a>
  </li>
  <li>
    <%#
    <a href="documents/scaling_2col.pdf">
      <%=  pdf_icon %>
    <a href="http://doi.org/10.1175/2011JCLI4204.1">
      Meredith, Michael P., Alberto C. Naveira Garabato, Andrew McC. Hogg, Riccardo Farneti</a> (2012),
    Sensitivity of the Overturning Circulation in the Southern Ocean to Decadal
    Changes in Wind Forcing,
    <span class="journal">J. Climate</span>, 
    <span class="volume">25</span>, 99–110. doi:10.1175/2011JCLI4204.1
  </li>
  <li>
    <a href="http://doi.org/10.1029/2010JC006818">
      Naveira Garabato, A. C., R. Ferrari, and K. L. Polzin</a> (2011),
    Eddy stirring in the Southern Ocean, 
    <span class="journal">J. Geophys. Res.</span>, 
    <span class="volume">116</span>, C09019, doi:10.1029/2010JC006818.
  </li>
  <li>
      Ferrari, R. and M. Nikurashin (2010),
    Suppression of eddy mixing across jets in the Southern Ocean, 
    <span class="journal">J. Phys. Oceanogr.</span>, 
    <span class="volume">40</span>, 1501-1519.
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/2010JPO4557.1">
      Ledwell, J. R., L. C. St. Laurent, J. B. Girton, and J. M. Toole</a> (2011),

    Diapycnal Mixing in the Antarctic Circumpolar Current, 
    <span class="journal">J. Phys. Oceanogr.</span>, 
    <span class="volume">41</span>, 241-246. doi:10.1175/2010JPO4557.1
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/2010JPO4429.1">
      Shuckburgh, E., Maze, G., Ferreira, D., Marshall, J., Jones, H. and Hill,
      C.</a> (2011),
    Mixed layer lateral eddy fluxes mediated by air-sea interaction, 
    <span class="journal">J. Phys. Oceanogr.</span>, 
    <span class="volume">41</span>, 130-144.
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/JPO-D-11-023.1">
      R. Abernathey, J. Marshall, D. Ferreira</a> (2011),
    Dependence of Southern Ocean Meridional Overturning on Wind Stress, 
    <span class="journal">J. Phys. Oceanogr.</span>, 
    <span class="volume">41</span>, 2261-2278.
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/2009JPO4201.1">
      R. Abernathey, J. Marshall, M. Mazloff, and E. Shuckburgh</a> (2010),
    Enhanced Isopycnal Mixing at Steering Levels in the Southern Ocean, 
    <span class="journal">J. Phys. Oceanogr.</span>, 
    <span class="volume">40</span>, 170-184.
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/JPO-D-12-027.1">
      L. St. Laurent, A. C. Naveira Garabato, J. R. Ledwell, A. M. Thurnherr,
      J.  M. Toole, A. J. Watson</a> (2012),
    Turbulence and Diapycnal Mixing in Drake Passage, 
    <span class="journal">J. Phys. Oceanogr.</span>, 
    <span class="volume">42</span>, 2143-2152.
  </li>
  <li>
    <a href="http://onlinelibrary.wiley.com/doi/10.1002/grl.50260/abstract">
      Meredith, M. P., P. J. Brown, A. C. Naveira Garabato, L. Jullion, H. J.
      Venables, and M.-J. Messias</a> (2013),
    Dense bottom layers in the Scotia Sea, Southern Ocean: creation, lifespan
    and destruction, in press, Geophys. Res. Lett.,  doi:10.1002/grl.50260.
  </li>
  <li>
    <a href="http://journals.ametsoc.org/doi/abs/10.1175/JPO-D-12-0222.1">
      J. Alexander Brearley, Katy L. Sheen, Alberto C. Naveira Garabato, David
      A. Smeed, and Stephanie Waterman</a> (November 2013),
    Eddy-Induced Modulation of Turbulent Dissipation over Rough Topography in
    the Southern Ocean,
    <span class="journal">Journal of Physical Oceanography</span>, 
    <span class="volume">43</span>, No. 11, 2288-2308.
  </li>
  <li>
    <%#
    <a href="documents/meredith_woodwarth_et_al.pdf">
      <%=  pdf_icon %>
    <a href="http://doi.org/10.1029/2010RG000348">
      Meredith, M. P., P. L. Woodworth, T. K. Chereskin, D. P. Marshall, L. C.
      Allison, G. R. Bigg, K. Donohue, K. J. Heywood, C. W. Hughes, A. Hibbert,
      A. M.  Hogg, H. L. Johnson, L. Jullion, B. A. King, H. Leach, Y.-D.Lenn,
      M.  A. M.  Maqueda, D. R. Munday, A. C. N. Garabato, C. Provost, J.-B.
      Sallée, and J. Sprintall</a> (2011),
    Sustained monitoring of the Southern Ocean at Drake Passage: past
    achievements and future priorities. 
    <span class="journal">Reviews of Geophysics</span>, 
    <span class="volume">49</span>(4), 
    doi:10.1029/2010RG000348
  </li>
  <li>
    <a href="http://doi.org/10.1029/2010RG000348">
      Meredith, M. P., P. J. Brown, A. C. Naveira Garabato, L. Jullion, H. J.
      Venables, and M.-J. Messias</a> (2013),
    Dense bottom layers in the Scotia Sea, Southern Ocean: Creation, lifespan,
    and destruction, 
    <span class="journal">Geophys. Res. Lett.</span>, 
    <span class="volume">40</span>, 933–936,
    doi:10.1002/grl.50260.
  </li>
  <li>
    <a href="http://doi.org/10.1175/JTECH-D-12-00241.1">
      Frants, Marina, Gillian M. Damerell, Sarah T. Gille, Karen J. Heywood,
      Jennifer MacKinnon, Janet Sprintall</a> (2013),
    An Assessment of Density-Based Finescale Methods for Estimating Diapycnal
    Diffusivity in the Southern Ocean. 
    <span class="journal">J. Atmos. Oceanic Technol.</span>, 
    <span class="volume">30</span>, 2647–2661,
    doi:10.1175/JTECH-D-12-00241.1
  </li>
  <li>
    <a href="http://www-pord.ucsd.edu/~sgille/pub_dir/dimes_clivarexchanges.pdf">
      Gille, S. T. Gille, J. Ledwell, A. Naveira-Garabato, K. Speer, D.
      Balwada, A.  Brearley, J. B. Girton, A. Griesel, R. Ferrari, A. Klocker,
      J. LaCasce, P.  Lazarevich, N. Mackay, M. P. Meredith, M.-J. Messias, B.
      Owens, J.-B.  Sallée, K. Sheen, E. Shuckburgh, D. A. Smeed, L. C. St.
      Laurent, J. M.  Toole, A. J.  Watson, N. Wienders, and U.
      Zajaczkovski</a> (2012),
    The Diapycnal and Isopycnal Mixing Experiment: A First Assessment, 
    <span class="journal">CLIVAR Exchanges</span>, 
    <span class="volume">17</span>(1), 46-48.
  </li>
  <li>
    <a href="http://doi.org/10.1175/JPO-D-12-069.1">
      Mazloff, Matthew R., Raffaele Ferrari, Tapio Schneider</a> (2013),
    The Force Balance of the Southern Ocean Meridional Overturning Circulation,
    <span class="journal">J. Phys. Oceanogr.</span>, 
    <span class="volume">43</span>, 1193-1208,
    doi:10.1175/JPO-D-12-069.1
  </li>
  <li>
    <a href="http://doi.org/10.1175/JPO-D-13-0175.1">
      J. H. LaCasce, R. Ferrari, J. Marshall, R. Tulloch, D. Balwada, and K. Speer
    </a> (February 2014),
    Float-Derived Isopycnal Diffusivities in the DIMES Experiment.
    <span class="journal">Journal of Physical Oceanography</span>,
    <span class="volume">44</span>(2), 764-780,
    doi:10.1175/JPO-D-13-0175.1
  </li>
</ul> 
 
<%#
<h2>Submitted work (Contact authors for preprints, etc.)</h2>
<ul class="publications"> 
</ul> 
%>

<h1>Precursors to DIMES</h1>
<hr>
<p>A few studies involving DIMES investigators:</p>
 
<ul class="publications">
  <li>
    <a href="http://www.nature.com/nature/journal/v447/n7141/abs/nature05832.html">
      Naveira Garabato, A. C., D. P. Stevens, A. J. Watson and W. Roether</a> (2007), 
    Short-circuiting of the overturning circulation in the Antarctic
    Circumpolar Current. 
    <span class="journal">Nature</span>
    <span class="volume">447</span>, 194-197.
  </li> 
  <li>
      Thompson, A. F., S. T. Gille, J. A. MacKinnon, and J. Sprintall (2007),
    Spatial and Temporal Patterns of Small-Scale Mixing in Drake Passage, 
    <span class="journal">J. Phys. Oceanogr.</span>, 
    <span class="volume">37</span>, 572-592. 
    <a href="http://www-pord.ucsd.edu/~sgille/pub_dir/i1520-0485-37-3-572.pdf">(<%= pdf_icon %> reprint, 1855 kbytes)</a>
  </li> 
  <li>
      Chinn, B. S. and S. T. Gille (2006),
    Estimating Eddy Heat Flux from Float Data in the North Atlantic: The Impact
    of Temporal Sampling Interval, 
    <span class="journal">J. Atmos. Ocean. Tech.</span>, 
    <span class="volume">24</span>, 923-934.
    <a href="http://www-pord.ucsd.edu/~sgille/pub_dir/chinn_gille.pdf">(<%= pdf_icon %> reprint, 1.27 Mbytes)</a>
  </li> 
</ul>
