<% content_for :head do %>
  <%= stylesheet_link_tag 'uploads' -%>
<% end -%>
<h1>File Listing</h1>

<div>
  <p><%= link_to('Data policy', '/data_policy') %></p>
<%- unless current_user %>
  <p class="log_in_invite"><%= link_to('Log in', login_path(:return_to => request.path)) %> to see private files.</p>
<%- else %>
  <ul>
    <li><a href="http://mmm.whoi.edu/mmm_data/dimes/">DIMES microstructure data</a></li>
  </ul>
<%- end %>
  <ul>
    <li><a href="http://www.bodc.ac.uk/projects/international/dimes/data_inventories/cruise/jc041/">UK1 BODC data inventory</a></li>
    <li><a href="http://www.bodc.ac.uk/projects/international/dimes/data_inventories/cruise/jc054/">UK2 BODC data inventory</a></li>
    <li><a href="http://www.bodc.ac.uk/projects/international/dimes/data_inventories/cruise/jr20110409/">UK2.5 BODC data inventory</a></li>
    <li><a href="http://www.bodc.ac.uk/projects/international/dimes/data_inventories/cruise/jc069/">UK3 BODC data inventory</a></li>
  </ul>
</div>

<div class="cwd">
  <p>Current directory: <span class="dir"><%=h curr_dir %></span></p>
  <form action="" method="GET">
    <p>Go to directory: <input type="text" name="cd"></input><input type="submit" value="Go"></input></p>
  </form>
  <% if curr_dir != '/' %>
    <p><%= link_to('&#8679; Parent directory', :cd => 'up') %></p>
  <% end -%>
  <%- if current_user %>
    <p><%= link_to('Download all directory files as zip', download_dir_uploads_path(:cd => curr_dir)) %></p>
  <%- end %>
</div>
<% if @uploads.blank? -%>
    <p>There are no uploaded files.</p>
<% else -%>
  <div class="files">
    <table>
      <tr class="header">
        <th>Filename</th>
        <th>Description</th>
        <th>Size</th>
        <th>Content type</th>
        <th>Created at</th>
        <th></th>
      </tr>
    <% shown = Set.new -%>
    <% @uploads.each do |upload| -%>
      <% if upload.directory == curr_dir -%>
        <tr>
          <td><%= link_to(h(upload.filename), download_upload_path(upload)) %></td>
          <td><%=h upload.description %></td>
          <td><%=h upload.size %></td>
          <td><%=h upload.content_type %></td>
          <td><%=h upload.created_at %></td>
          <%- if current_user %>
            <td>
              <%= link_to 'Edit', edit_upload_path(upload) %>
              <%= link_to 'Delete', upload, :confirm => 'Are you sure?', :method => :delete %>
            </td>
          <%- end %>
        </tr>
      <% else -%>
        <% child_dir = child(upload.directory) -%>
        <% unless shown.include?(child_dir) -%>
          <% shown << child_dir -%>
          <tr>
            <td colspan="5">
              <%= link_to("&#9654; #{h(child_dir)}", {:cd => File.join(curr_dir, child_dir || '')}, {:class => :directory}) %>
            </td>
            <%- if current_user %>
              <td><%= link_to 'Rename', mvdir_uploads_path(:cd => child_dir) %></td>
            <%- end %>
          </tr>
        <% end -%>
      <% end -%>
    <% end -%>
    </table>
</div>

<% end -%>

<%- if current_user %>
  <div class="edit">
    <p>
      <%= link_to 'Upload a new file', new_upload_path %>
    </p>
    <p>
      To update a file, please use the Edit link to the right.
      Directories without files in them will not persist.
    </p>
    <% form_tag '', :method => 'GET' do %>
      <p>
        <%= label_tag 'Add directory'%>
        <%= text_field_tag :cd %>
        <%= submit_tag 'Add'%>
      </p>
    <% end -%>
  </div>
<%- else %>
  <p class="log_in_invite"><%= link_to('Log in', login_path(:return_to => request.path)) %> to add files and directories.</p>
<%- end %>
