<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/favicon.ico" />
<title>DIMES | Diapycnal and Isopycnal Mixing Experiment in the Southern Ocean</title>
<%=stylesheet_link_tag 'main'%>
<%=javascript_include_tag 'prototype'%>
<%= yield :head -%>
</head>
<body>
<div class="centering">
	<%= render :partial => 'layouts/header'-%>
  <%- if flash[:notice] %>
    <div class="flash flash-notice">
      <%= flash[:notice] %>
    </div>
  <%- end %>
  <%- if flash[:info] %>
    <div class="flash flash-info">
      <%= flash[:info] %>
    </div>
  <%- end %>
	<div class="content">
		<%=yield-%>
	</div>
	<div id='divider'></div>
</div>
<%=render :partial => 'layouts/footer'-%>
<% yield :scripts -%>
</body>
</html>
